.bannerImage {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.postHeader {
  margin-top: 5rem;

  > h1 {
    font-size: 3rem;
    letter-spacing: -0.5px;
    font-weight: 700;
  }

  > .postInfo {
    display: flex;
    align-items: center;

    margin-top: 1.5rem;
    color: var(--info-color);

    > div {
      display: flex;
      align-items: center;

      & + div {
        margin-left: 1.625rem;
      }

      &:first-child > span {
        text-transform: capitalize;
      }

      > span {
        font-size: 0.875rem;
        margin-left: 0.5rem;
      }
    }
  }

  > span {
    display: inline-block;
    font-style: italic;
    font-size: 0.875rem;
    margin-top: 1rem;
    color: var(--info-color);
  }
}

.postContent {
  margin-top: 4rem;
  padding-bottom: 2rem;

  > div {
    > h2 {
      margin: 4rem 0;
      font-size: 2.25rem;
      color: var(--heading-color);
    }

    > div {
      font-size: 1.125rem;
      color: var(--body-color);
      line-height: 1.4rem;

      > p {
        margin-top: 1rem;
      }

      > pre {
        padding: 1rem;
        border-radius: 0.5rem;
        background: rgba(0,0,0,.2);
        margin-top: 1rem;

        overflow: hidden;
        text-overflow: ellipsis;
      }

      > ul {
        margin-top: 1rem;
      }

      a {
        color: var(--highlight-color);

        transition: filter 200ms ease-out;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  margin: 3.75rem 0 5rem;
  padding-top: 3rem;
  border-top: 1px solid var(--info-color);

  > div {
    flex: 1;
  }

  > div:last-child {
    text-align: end;
  }
}

.navigationContent {
  display: flex;
  flex-direction: column;

  > span {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -0.5px;
  }

  > a {
    color: var(--highlight-color);
    font-size: 1rem;
    letter-spacing: -0.5px;
    font-weight: 600;
    margin-top: 0.5rem;
  }
}
